.app-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    z-index: 11;
    /*min-height: 64px;*/
    height: 64px;
}

@media(min-width: 1000px) {
    .app-bar {
        border-bottom: 1px solid var(--color-devider);
    }
}
@media(max-width: 990px) {
    .app-bar {
        border-bottom: 1px solid var(--color-devider);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        /*background: rgba(249,249,250,.8);*/
    }
}

.app-bar-left {
    flex-direction: column;
    max-width: 250px;
    height: 100%;
    background-color: #1E262F;
    color: var(--color-text);
}

.app-bar-left--active {
    flex-direction: column;
    max-width: 300px;
}
